<h1>Searching Results of "<%= @search %>" and "<%= @filter %>"</h1>
<h5>Count of results - <%= @products.count %></h5>
<div class="row">
  <%= render @products %>
</div>
<%= will_paginate @products %>
