<h1>
  <% if @search != '' %>
    <%= t('search.title') %>
    <%= @search %>
  <% else %>
    <%= t('search.title')%>
  <% end %>
  <% if @filter != '' %>
    <%= t('search.age') if @filter != ''%>
    <%= @filter if @filter!=''%></h1>
<% else %>
  <%if @search == ''%>
    <%= t('search.all_res') %>
  <% end %>
<% end %>
<h5><%= t('search.count')%>
  <%= @products.count %></h5>
<div class="row">
  <%=render ProductComponent.with_collection(@products)%>
</div>
<%= will_paginate @products, :previous_label => t('views.pagination.prev'), :next_label => t('views.pagination.next') %>
