<div class="row">
  <h3>
    <b><%= t('product.show.title') %>
    </b><%=@product.title%>
  </h3>
  <div style='font-size: 30px'>
    <%= image_tag @product.photo, width:300, height:300%>
    <br>
    <b><%= t('product.show.body') %>
    </b><%= @product.body %>
    <br>
    <b>
      <%= t('product.show.genre') %>
    </b>
    <%= @product.genre %>
    <br>
    <b><%= t('product.show.developer') %>
    </b><%= @product.developer %>
    <br>
    <b><%= t('product.show.age_limit') %>
    </b><%= @product.age_limit %>
    <br>
    <b><%= t('product.show.categories') %>
    </b>
    <% @product.categories.each do |category| %>
      <%= link_to category.name, category_path(category)%>
      <%= @product.categories.size > 1 && category != @product.categories.last ? ',' : ''%>
    <% end %>
  </div>
  <div class="call_me">
  <p class="p-2 text-dark">
    <%=render "call_mes/form"%>
  </p>
</div>
</div>
