<div class="row">
  <h2>
      <b>Title: </b><%=@product.title%>
    </h2>
    <div style='font-size: 40px'>
      <%= image_tag @product.photo, width:300, height:300%>
      <br><b>Discription: </b><%= @product.body %>
      <br><b>Genre: </b><%= @product.genre %>
      <br><b>Developer: </b><%= @product.developer %>
      <br><b>Minimum age: </b><%= @product.age_limit %>
    </div>
</div>
